@font-face {
    src: url('../font/SegoePrint.ttf');
}

@font-face {
    src: url('../font/RibbonHeart.ttf');
}

.mainBackground {
    -fx-background-image: url('../images/main.jpg');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.mainLabel {
    -fx-font-size: 35pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd;
}

.mainLabel:hover, .mainLabel:pressed {
    -fx-text-fill: red;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd;
}

.gameBackground {
    -fx-background-image: url('../images/game.jpg');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.gameLabel {
    -fx-font-size: 35pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-text-fill: #E52B50;
    -fx-font-smoothing-type: lcd;
}

.gameLabel:hover, .gameLabel:pressed {
    -fx-text-fill: blue;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd;
}

.settingsBackground {
    -fx-background-image: url('../images/settings.jpg');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.settingsLabel {
    -fx-font-size: 35pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-text-fill: white;
    -fx-font-smoothing-type: lcd;
}

.settingsLabel:hover, .settingsLabel:pressed {
    -fx-text-fill: yellow;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd;
}

.roundBackground {
    -fx-background-image: url('../images/round.jpg');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.roundLabel {
    -fx-font-size: 40pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: blue;
}

.backLabel:hover, .backLabel:pressed {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd;
}

.preloaderLabel {
    -fx-font-family: 'Ribbon Heart';
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: linear-gradient(to right, silver, white);
    -fx-font-size: 40pt;
    -fx-padding: 20pt;
}

.preloaderBackground {
    -fx-background-image: url('../images/preloader.png');
    -fx-background-color: linear-gradient(to right, #5e96ff, #6e96ff, #7e96ff, #8e96ff, #9e96ff, #Ae96ff, #Be96ff);
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.settingsRoundBackground {
    -fx-background-image: url('../images/settingsRound.jpg');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.settingsRoundLabel {
    -fx-text-fill: linear-gradient(to right, green, yellow, red, mediumvioletred);
    -fx-font-size: 35pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-font-smoothing-type: lcd;
}

.settingsRoundLabel:hover, .settingsRoundLabel:pressed {
    -fx-text-fill: white;
    -fx-font-smoothing-type: lcd;
}

.settingsRoundInfoLabel {
    -fx-text-fill: white;
    -fx-font-size: 40pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-font-smoothing-type: lcd;
}

.settingsCategoryBackground {
    -fx-background-image: url('../images/settingsCategory.jpg');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.settingsRoundCategoryBackLabel {
    -fx-font-family: "Ribbon Heart";
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd;
}

.settingsRoundCategoryBackLabel {
    -fx-font-size: 35pt;
}

.settingsRoundCategoryBackLabel:hover, .settingsRoundCategoryBackLabel:pressed {
    -fx-text-fill: red;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd;
}

.saveButton, .saveSuperGameSettingsButton {
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-family: 'Segoe Print';
    -fx-font-smoothing-type: lcd;
}

.saveButton {
    -fx-font-size: 14pt;
}

.saveButton:pressed, .saveSuperGameSettingsButton:pressed {
    -fx-background-color: deepskyblue;
    -fx-border-color: blue;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-font-smoothing-type: lcd;
}

.text-field, .superGameSettingsTextField, .spinner {
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-border-width: 1pt;
    -fx-border-color: deepskyblue;
    -fx-font-family: 'Segoe Print';
    -fx-text-fill: deepskyblue;
    -fx-font-smoothing-type: lcd;
}

.text-field, .spinner {
    -fx-font-size: 14pt;
}

.text-field:focused, .superGameSettingsTextField:focused {
    -fx-border-color: blue;
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd;
}

.roundLabel {
    -fx-font-size: 35pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd;
}

.scoreLabel, .superGameSettingsTuneLabel {
    -fx-font-family: 'Ribbon Heart';
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd;
}

.scoreLabel {
    -fx-font-size: 40pt;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 1;
    -fx-border-color: blue;
}

.unselectedButton, .unselectedSuperGameSettingsButton {
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-family: 'Segoe Print';
    -fx-font-smoothing-type: lcd;
}

.unselectedButton {
    -fx-font-size: 14pt;
}

.unselectedButton:pressed, .unselectedSuperGameSettingsButton:pressed {
    -fx-background-color: orangered;
    -fx-border-color: red;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-font-smoothing-type: lcd;
}

.selectedButton, .selectedSuperGameSettingsButton {
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-family: 'Segoe Print';
    -fx-font-smoothing-type: lcd;
}

.selectedButton {
    -fx-font-size: 14pt;
}

.selectedButton:pressed, .selectedSuperGameSettingsButton:pressed {
    -fx-background-color: limegreen;
    -fx-border-color: green;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-font-smoothing-type: lcd;
}

.playButton, .pauseButton {
    -fx-background-color: transparent;
    -fx-font-smoothing-type: lcd;
}

.playButton:pressed, .pauseButton:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-font-smoothing-type: lcd;
}

.superGameBackground {
    -fx-background-image: url('../images/supergame.png');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.timeLabel {
    -fx-font-size: 150pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-text-fill: red;
    -fx-font-smoothing-type: lcd;
}

.superGameSettingsTuneLabel {
    -fx-font-size: 30pt;
}

.unselectedSuperGameSettingsButton {
    -fx-font-size: 12pt;
}

.selectedSuperGameSettingsButton {
    -fx-font-size: 12pt;
}

.superGameSettingsTextField {
    -fx-font-size: 12pt;
}

.saveSuperGameSettingsButton {
    -fx-font-size: 12pt;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-body-color: deepskyblue;
}

.spinner .increment-arrow-button:hover, .spinner .decrement-arrow-button:hover {
    -fx-body-color: deepskyblue;
}

.spinner .increment-arrow-button:hover:pressed, .spinner .decrement-arrow-button:hover:pressed, .spinner .increment-arrow-button:pressed, .spinner .decrement-arrow-button:pressed {
    -fx-body-color: blue;
}