@font-face {
    src: url('../font/SegoePrint.ttf');
}

@font-face {
    src: url('../font/RibbonHeart.ttf');
}

.mainBackground {
    -fx-background-image: url('../images/main.jpg');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.mainLabel {
    -fx-font-size: 35pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd;
}

.mainLabel:hover, .mainLabel:pressed {
    -fx-text-fill: red;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd;
}

.gameBackground {
    -fx-background-image: url('../images/game.jpg');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.gameLabel {
    -fx-font-size: 35pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-text-fill: #E52B50;
    -fx-font-smoothing-type: lcd;
}

.gameLabel:hover, .gameLabel:pressed {
    -fx-text-fill: blue;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd;
}

.settingsBackground {
    -fx-background-image: url('../images/settings.jpg');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.settingsLabel {
    -fx-font-size: 35pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-text-fill: white;
    -fx-font-smoothing-type: lcd;
}

.settingsLabel:hover, .settingsLabel:pressed {
    -fx-text-fill: yellow;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd;
}

.roundBackground {
    -fx-background-image: url('../images/round.jpg');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.roundLabel {
    -fx-font-size: 40pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: blue;
}

.roundBackLabel:hover, .roundBackLabel:pressed {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd;
}

.preloaderLabel {
    -fx-font-family: 'Ribbon Heart';
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: white;
    -fx-font-size: 40pt;
    -fx-padding: 40pt;
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 50%, #5e96ff, #6e96ff, #7e96ff, #8e96ff, #9e96ff, #Ae96ff, #Be96ff);
}

.settingsRoundBackground {
    -fx-background-image: url('../images/settingsRound.jpg');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.settingsRoundLabel {
    -fx-text-fill: linear-gradient(to right, green, yellow, red, mediumvioletred);
    -fx-font-size: 35pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-font-smoothing-type: lcd;
}

.settingsRoundLabel:hover, .settingsRoundLabel:pressed {
    -fx-text-fill: white;
    -fx-font-smoothing-type: lcd;
}

.settingsRoundInfoLabel {
    -fx-text-fill: white;
    -fx-font-size: 40pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-font-smoothing-type: lcd;
}

.settingsCategoryBackground {
    -fx-background-image: url('../images/settingsCategory.jpg');
    -fx-background-size: cover;
    -fx-smooth: true;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.settingsRoundCategoryBackLabel {
    -fx-font-size: 35pt;
    -fx-font-family: "Ribbon Heart";
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd;
}

.settingsRoundCategoryBackLabel:hover, .settingsRoundCategoryBackLabel:pressed {
    -fx-text-fill: red;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-font-smoothing-type: lcd;
}

.saveButton {
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
    -fx-font-family: 'Segoe Print';
    -fx-font-smoothing-type: lcd;
}

.saveButton:pressed {
    -fx-background-color: deepskyblue;
    -fx-border-color: blue;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-font-smoothing-type: lcd;
}

.text-field {
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-border-width: 1pt;
    -fx-border-color: deepskyblue;
    -fx-font-size: 14pt;
    -fx-font-family: 'Segoe Print';
    -fx-text-fill: deepskyblue;
    -fx-font-smoothing-type: lcd;
}

.text-field:focused {
    -fx-border-color: blue;
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd;
}

.roundLabel {
    -fx-font-size: 35pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd;
}

.scoreLabel {
    -fx-font-size: 40pt;
    -fx-font-family: 'Ribbon Heart';
    -fx-text-fill: blue;
    -fx-font-smoothing-type: lcd;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 1;
    -fx-border-color: blue;
}

.unselectedButton {
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
    -fx-font-family: 'Segoe Print';
    -fx-font-smoothing-type: lcd;
}

.unselectedButton:pressed {
    -fx-background-color: orangered;
    -fx-border-color: red;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-font-smoothing-type: lcd;
}

.selectedButton {
    -fx-background-radius: 10;
    -fx-border-radius: 8;
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
    -fx-font-family: 'Segoe Print';
    -fx-font-smoothing-type: lcd;
}

.selectedButton:pressed {
    -fx-background-color: limegreen;
    -fx-border-color: green;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-font-smoothing-type: lcd;
}

.playButton, .pauseButton {
    -fx-background-color: transparent;
    -fx-font-smoothing-type: lcd;
}

.playButton:pressed, .pauseButton:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-font-smoothing-type: lcd;
}